combobox {
    background-color: @theme_bg_color;
    border: 1px solid;
}

combobox button, combobox button cellview {
    background-color: @theme_bg_color;
}

combobox arrow {
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
    min-height: 16px;
    min-width: 16px;
}

combobox entry {
    border: none;
}
